.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-top: 1px solid rgb(243, 244, 246);
  z-index: 50;
}

.navContent {
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  color: rgb(107, 114, 128);
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.navItem img {
  width: 24px;
  height: 24px;
}

.navItem span {
  font-size: 10px;
  line-height: 1rem;
  font-weight: 600;
}

.navItem.active {
  color: #000;
}

.navItem.active span {
  color: #000;
  font-weight: 600;
}

.plusButton {
  width: 39px;
  height: 39px;
  background-color: #5175ff;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0;
}

.plusButton img {
  width: 20px;
  height: 20px;
}

@media (min-width: 768px) {
  .navContent {
    width: 768px;
  }
}

@media (min-width: 1024px) {
  .navContent {
    width: 1024px;
  }
}

@media (min-width: 1280px) {
  .navContent {
    width: 1280px;
  }
}