.reviews-list {
    padding-inline: 20px;
    background-color: #FFFFFF;
  }
  
  .review-item {
    padding: 24px 0;
    border-bottom: 1px solid #F2F2F2;
  }
  
  .review-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
    position: relative;
  }
  
  .review-title h2 {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 12px;
  }
  
  .rating-container {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 8px;
  }
  
  .rating {
    font-size: 14px;
    font-weight: 600;
    color: #979797;
  }
  
  .stars {
    display: flex;
    gap: 2px;
  }
  
  .star-icon {
    width: 16px;
    height: 16px;
  }
  
  .review-count {
    color: #979797;
    font-weight: 600;
    font-size: 14px;
  }
  
  .address {
    color: #979797;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 12px;
  }
  
  .more-button-container {
    position: relative;
  }
  
  .more-button {
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
  }
  
  .more-button img {
    width: 24px;
    height: 24px;
  }
  
  .review-actions-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    z-index: 10;
    min-width: 120px;
    border: 1px solid #edf1ff;
  }
  
  .action-button {
    width: 100%;
    padding: 12px 21px;
    text-align: left;
    background: none;
    border: none;
    font-size: 14px;
    color: #919191;
    font-weight: 600;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    align-items: center;
  }
  
  .action-button:first-child {
    border-bottom: 1px solid #edf1ff;
  }
  
  .action-button img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  
  .action-button:hover {
    background-color: #F8F9FA;
  }
  
  .review-content {
    font-size: 12px;
    line-height: 1.5;
    color: #444456;
    font-weight: 600;
    background-color: #edf1ff;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 12px;
  }
  
  .keywords-container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }
  
  .keyword {
    padding: 5.5px 8.52px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 1.5px solid #5175FF;
    color: #5175FF;
    font-size: 12px;
    font-weight: 600;
  }