.settings-container {
    padding-top: 20px;
    padding-bottom: 80px;
    background-color: #F4F8FB;
    min-height: 100vh;
  }
  
  .settings-header {
    display: flex;
    align-items: center;
    padding: 0 42px;
    margin-bottom: 24px;
    position: relative;
  }
  
  .back-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    left: 20px;
  }
  
  .back-button img {
    width: 24px;
    height: 24px;
  }
  
  .settings-header h1 {
    width: 100%;
    text-align: center;
    font-size: 19px;
    font-weight: 600;
  }
  
  .settings-content {
    padding: 0 20px;
  }
  
  .profile-section-setting {
    display: flex;
    align-items: center;
    padding-bottom: 32px;
    border-bottom: 1px solid #F0F0F0;
    padding-inline: 0;
  }
  
  .profile-image {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    background-color: #F0F4FF;
    margin-right: 16px;
    overflow: hidden;
  }
  
  .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .profile-info-setting h2 {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 9px;
    color: #000000;
  }
  
  .profile-info-setting p {
    color: #919191;
    font-size: 17px;
    font-weight: 600;
  }
  
  .settings-menu {
    display: flex;
    flex-direction: column;
  }
  
  .menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #F0F0F0;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    text-align: left;
    color: #000000;
  }
  
  .menu-value {
    color: #9FA1A6;
  }
  
  .menu-item.withdraw {
    color: #FF5151;
    border-bottom: none;
  }