.toast-container {
    position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%) translateY(100px);
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 22px;
  background-color: rgba(81, 117, 255, 0.3);
  border-radius: 10px;
  gap: 8px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  }
  
  .toast-container.visible {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
  
  .toast-icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5175FF;
    border-radius: 50%;
  }
  
  .toast-icon img {
    width: 16px;
    height: 16px;
  }
  
  .toast-message {
    color: white;
    font-size: 16px;
    font-weight: 600;
  }