/* 최상위 부모 요소 */
.react-datepicker {
  border-radius: 8px;
  width: 100%;
  height: 332px;
  border-radius: 24px;
  border: none;
  padding: 20px 18px;
  box-sizing: border-box;
  overflow: hidden;
}

/* 내부 요소들이 부모 padding을 고려하도록 수정 */
.react-datepicker__month-container {
  width: 100%;
  box-sizing: border-box;
}

.react-datepicker__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: none;
  padding: 0;
  box-sizing: border-box;
}

/* 커스텀 헤더 */
.custom-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.custom-header > span {
  font-size: 19px;
  font-weight: 600;
}

.custom-header > .btn-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* 요일 헤더 스타일 */
.react-datepicker__day-names {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  justify-items: center;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
}

/* 요일 이름 스타일 */
.react-datepicker__day-name {
  color: #c0c0c0;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
}
.react-datepicker__month {
  padding: 0;
  margin: 0;
}

/* 주(week) 스타일 수정 */
.react-datepicker__week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  justify-items: center;
  align-items: center;
}

/* 날짜(day) 스타일 */
.react-datepicker__day {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  line-height: normal;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 500;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.react-datepicker__day:hover {
  background-color: #e6f3ff;
  color: #5175ff;
  border-radius: 50%;
  cursor: pointer;
}

/* 선택된 날짜 스타일 */
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
  background-color: #5175ff;
  color: white;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

/* 선택된 날짜 호버 스타일 */
.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover {
  background-color: #3578e5;
  border-radius: 50%;
}

/* 드래그 중 배경 색상 */
.react-datepicker__day--in-selecting-range {
  background-color: #e6f3ff;
  color: #5175ff;
  border-radius: 50%;
  box-shadow: none;
}
